.feed{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: var(--cor00);
}

.center-feed{
    display: flex;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 20px;
}

.center-feed::-webkit-scrollbar{
    width: 0px;
}

.new-post, .post-container input{
    width: 500px;
    background-color: var(--cor01);
    border-radius: 8px;
}

.new-post{
    margin: 10px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.itens-post{
    border-radius: 0px 0px 8px 8px;
    height: 40px;
    background-color: var(--cor02);
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.item-post{
    display: flex;
    margin: 15px;
    color: var(--cor04);
    cursor: pointer;
}

.item-post p{
    display: flex;
    align-items: center;
}

.btn-post{
    display: flex;
    align-items: center;
}

.btn-post input{
    border: none;
    background-color: var(--cor05);
    color: var(--cor00);
    padding: 8px;
    width: 90px;
    font-family: var(--main-font);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.btn-post:hover input{
    background-color: var(--cor04);
}

.left-feed{
    background-color: var(--cor02);
}

