body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px;
    display: block;
    font-size: 16px;
    font-family: var(--main-font);
    border: none;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    font-family: var(--main-font);
    text-align: start;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 3;
    background: var(--cor02);
    padding: 15px;
    border-radius: 8px;
    max-width: 600px;
    min-width: 400px;
}

.modal-content h2{
    display: flex;
    justify-content: center;
}

.modal-content span{
    font-weight: bold;
}

.close-modal {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}