.sidebar{
    width: 90px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background-color: var(--cor05);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.5s;
    border-radius: 0 30px 30px 0;
    color: var(--cor00);
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-img img{
    width: 60px;
    transition: 0.5s;
}

.logo-name h1{
    font-family: var(--style-font);
    display: none;
}

a{
    text-decoration: none;
    color: var(--cor00);
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    cursor: pointer;
}

.user div{
    display: none;
}

.user h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user img{
    width: 40px;
    border-radius: 50%;
    margin: 0;
}

.user-login button{
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--cor00);
    font-size: 17px;
    font-family: var(--main-font);
}

ul{
    list-style: none;
    padding: 0 15px;
    font-size: 18px;
}

.sidebar-item{
    margin: 30px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.sidebar-item span{
    white-space: nowrap;
    display: none;
    text-decoration: none;
    color: var(--cor00);
}

.sidebar:hover{
    width: 300px;
}

.sidebar:hover .user div{
    display: block;
}

.sidebar:hover .user{
    width: 100%;
    background-color: var(--cor04);
}

.sidebar:hover .sidebar-item span{
    display: block;
    align-items: start;
    justify-content: start;
}

.sidebar:hover .logo-img img{
    width: 100px;
}

.sidebar:hover .logo-name h1{
    display: block;
}

.sidebar-item:hover{
    background-color: var(--cor04);
    padding: 15px;
    border-radius: 8px;
    transition: 0.2s;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout button{
    height: 10px;
    background: none;
    border: none;
    font-family: var(--main-font);
    color:var(--cor00);
    cursor: pointer;
    display: none;
}

.sidebar:hover .logout button{
    display: block;
}