.post{
    background-color: var(--cor01);
    margin: 20px 0;
    height: 450px;
    width: 500px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.user-post{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.user-post img{
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.img-post{
    display: flex;
    justify-content: center;
}

.img-post img{
    height: 300px;
}
