.notification-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-notification{
    padding: 10px;
    border: none;
    background-color: var(--cor05);
    border-radius: 8px;
    color: var(--cor00);
    font-family: var(--main-font);
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
    position:absolute;
    top: 10%;
    left: 65%;
}

.notification{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor01);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px var(--cor03);
}

.notification span{
    font-weight: bold;
    color: var(--cor05);
}

.notification button{
    border: none;
    color: var(--cor03);
    font-size: 20px;
    background: none;
    cursor: pointer;
}

