@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sancreek&display=swap');

/* Global Styles */
:root {
  --main-font: 'Montserrat', sans-serif;
  --style-font: 'Sancreek', serif;

  --cor00: #FFF;
  --cor01: #EBEAEA;
  --cor02: #cccccc;
  --cor03: #929090;
  --cor04: #cb692b;
  --cor05: #EB752B;
  --cor06: #313338;
  --cor07: #000;

}

body {
  font-family: var(--main-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
